USE [QuercusPedidos]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 12/1/2024 14:01:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[Id_Pedido] [int] IDENTITY(1,1) NOT NULL,
	[Mesa] [varchar](20) NULL,
	[Estado] [bit] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Subtotal] [int] NOT NULL,
	[Iva] [int] NOT NULL,
	[Total] [int] NOT NULL,
	[Id_ResDetalle] [int] NULL,
	[Id_ProductoRes] [int] NULL,
	[Id_BarDetalle] [int] NULL,
	[Id_ProductoBar] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoDetalleBar]    Script Date: 12/1/2024 14:01:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoDetalleBar](
	[Id_BarDetalle] [int] NOT NULL,
	[Id_ProductoBar] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[CostoTotal] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_BarDetalle] ASC,
	[Id_ProductoBar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoDetalleRes]    Script Date: 12/1/2024 14:01:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoDetalleRes](
	[Id_ResDetalle] [int] NOT NULL,
	[Id_ProductoRes] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Observacion] [varchar](55) NULL,
	[CostoTotal] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_ResDetalle] ASC,
	[Id_ProductoRes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoBar]    Script Date: 12/1/2024 14:01:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoBar](
	[Id_ProductoBar] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Precio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_ProductoBar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoRes]    Script Date: 12/1/2024 14:01:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoRes](
	[Id_ProductoRes] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Precio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_ProductoRes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([Id_ResDetalle], [Id_ProductoRes])
REFERENCES [dbo].[PedidoDetalleRes] ([Id_ResDetalle], [Id_ProductoRes])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([Id_BarDetalle], [Id_ProductoBar])
REFERENCES [dbo].[PedidoDetalleBar] ([Id_BarDetalle], [Id_ProductoBar])
GO
ALTER TABLE [dbo].[PedidoDetalleBar]  WITH CHECK ADD FOREIGN KEY([Id_ProductoBar])
REFERENCES [dbo].[ProductoBar] ([Id_ProductoBar])
GO
ALTER TABLE [dbo].[PedidoDetalleRes]  WITH CHECK ADD FOREIGN KEY([Id_ProductoRes])
REFERENCES [dbo].[ProductoRes] ([Id_ProductoRes])
GO
