body {
    padding-top: 50px;
    padding-bottom: 20px;
}

td,
th,
tr,
tableim {
    border-top: 1px solid black;
    border-collapse: collapse;    
}

    td.producto,
    th.producto {
        width: 100px;
        max-width: 100px;
    }

    tr,.produc,
    td.produc,
    th.produc {
        width: 100px;
        max-width: 100px;
    }

    td.cantidad,
    th.cantidad {
        width: 21px;
        max-width: 21px;
        word-break: break-all;
    }

    td.precio,
    th.precio {
        width: 45px;
        max-width: 45px;
        word-break: break-all;
    }

.centrado {
    text-align: center;
    align-content: center;
}

.ticket {
    width: 158px;
    max-width: 158px;
    font-size: 12px;
    font-family: Consolas, monospace;
    line-height: 1.7;
}

    @media print {
        .oculto-impresion,
        .oculto-impresion * {
            display: none !important;
        }
    }

    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }
   
    .dl-horizontal dt {
        white-space: normal;
    }

    input,
    select,
    textarea {
        max-width: 280px;
    }

    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus {
        background-color: #777;
        border-color: #fff
    }

    .container1 {
        display: inline-block; 
        border: 1px solid #000; 
        padding: 5px; 
        margin-bottom: 20px; 
    }

    @media print {
        @page {
            size: auto; 
            margin: 1mm; 
        }
    }
