.table-container {
    color: black;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
    width: 100%;
}

.table-container th {
    color: black;
    background-color: lightgrey;
    text-align: center;
}

